.photo-gallery-roll
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  li
    position: relative
    background-size: cover
    background-position: top center
    margin: 20px 0
    box-sizing: border-box
    &:after
      content: ''
      background: linear-gradient(transparent, black)
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: 1
      opacity: .65
    &:hover
      background-size: 105%
    a
      display: block
      text-decoration: none
      padding: 250px 30px 30px 30px
  h2, p, a
    position: relative
    color: white
    font-weight: 300
    z-index: 2
  h2
    font-size: 52px
    text-decoration: none

.photo-gallery
  li
    position: relative
    display: inline-block
    width: 100%
    height: 225px
    overflow: hidden
    margin: 20px 0
    cursor: pointer
    @media only screen and (min-width: 790px)
      width: 30%
  .img
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 100%
    &.modal
      z-index: 9
      position: fixed
      width: auto
      height: auto
      max-width: 95%
  .background
    background: black
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: .85
    z-index: 8
  header
    background: $orange1
    padding: 50px 0 25px 0
    h1, p
      font-weight: 300
      color: white
    h1
      font-size: 48px
