.programs-roll
  h2
    color: $blue1
  p
    color: #666
  img, aside, figure
    display: inline-block
    vertical-align: top
  .image
    width: 100%
    @media only screen and (min-width: 790px)
      width: 25%
  figure
    position: relative
    padding-top: 56.25%
    overflow: hidden
    width: 100%
    img
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      min-height: 100%
  aside
    width: 100%
    box-sizing: border-box
    @media only screen and (min-width: 790px)
      width: 75%
      padding: 0 0 0 20px
  li
    padding: 20px 0
    border-bottom: 1px solid #ccc
    &:last-child
      border: none
