.programs-display
  h2
    text-align: center
    font-size: 24px
    text-transform: uppercase
    padding: 50px 25px
    border-bottom: 1px solid #e0e0e0
  ul
    display: flex
    justify-content: space-between
    padding: 50px 0
    flex-flow: column
    @media only screen and (min-width: 790px)
      flex-flow: row
    li
      flex: 0 0 100%
      padding: 0 0 30px 0
      &:last-child
        padding: 0
      @media only screen and (min-width: 790px)
        flex: 0 0 22%
        padding: 0
    h3
      font-size: 36px
      font-weight: bold
      text-transform: uppercase
    h5
      font-size: 18px
    p
      font-size: 14px
      padding: 20px 0 10px 0
    a
      text-transform: uppercase
    header
      &:after
        content: ''
        background: linear-gradient(90deg, $orange1, $orange2, $blue1)
        display: block
        height: 4px
        width: 100%
