.latest-updates
  .window-centered
    padding: 30px 20px
    box-sizing: border-box

.latest-updates-roll
  text-align: center
  @media only screen and (min-width: 790px)
    text-align: left
  h2
    line-height: 1.2
    padding: 20px 0
    @media only screen and (min-width: 790px)
      padding: 0
  a
    color: black
  img, aside, figure
    display: inline-block
    vertical-align: middle
  img
    width: 100%
    @media only screen and (min-width: 790px)
      width: 25%
  aside
    width: 100%
    box-sizing: border-box
    @media only screen and (min-width: 790px)
      width: 75%
      padding: 0 0 0 20px
  li
    padding: 20px 0
    border-bottom: 1px solid #ccc
    &:last-child
      border: none
