.latest-updates
  .window-centered
    padding: 30px 0

.latest-updates-roll
  a
    color: black
  img, aside, figure
    display: inline-block
    vertical-align: middle
  img
    width: 25%
  aside
    width: 75%
    padding: 0 0 0 20px
    box-sizing: border-box
  li
    padding: 20px 0
    border-bottom: 1px solid #ccc
    &:last-child
      border: none
