.navbar
  position: fixed
  top: 0
  left: 0
  display: flex
  flex-flow: column
  width: 100%
  background: white
  z-index: 8
  border-bottom: 4px solid $orange1
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.2)
  height: 135px
  h1 a
    display: flex
  li
    display: inline-block
    padding: 0 10px
  .top
     background: #003a70
     flex: 1 1 auto
     color: white
     align-items: center
     nav
       height: 100%
       font-size: 14px
  .top nav, .bottom
    display: flex
    flex: 1 1 auto
    display: flex
    justify-content: space-between
    align-items: center
  .menu ul
    display: none
