@import "reset.css"

@import "/Hero/style.sass"
@import "/Navbar/style.sass"
@import "/ProgramsDisplay/style.sass"
@import "/SectionsList/style.sass"
@import "/PhotoGalleryRoll/style.sass"
@import "/Footer/style.sass"

body
  font-family: 'Roboto'
  line-height: 1.5

.window-centered
  float: none
  max-width: 1400px
  width: 100%
  margin: 0 auto
