@import "reset.css"

$orange1: #f07822
$orange2: #b6463a
$blue1: #237e90
$blue2: #003a70

@import "/Hero/style.sass"
@import "/TemplateHeader/style.sass"
@import "/Navbar/style.sass"
@import "/ProgramsDisplay/style.sass"
@import "/SectionsList/style.sass"
@import "/PhotoGalleryRoll/style.sass"
@import "/ProgramsRoll/style.sass"
@import "/LatestUpdatesRoll/style.sass"
@import "/Map/style.sass"
@import "/Footer/style.sass"

@import "../pages/contact/style.sass"

body
  font-family: 'Roboto'
  line-height: 1.5
h1, h2, h3, h4
  font-weight: 500
  text-transform: uppercase
  padding: 5px 0 10px 0
h1
  font-size: 52px
h2
  font-size: 38px
h3
  font-size: 28px
h4
  font-size: 18px
h5
  font-size: 15px
  font-weight: bold
p, li
  font-size: 15px
a
  color: $orange1
  text-decoration: none
  &:visited
    color: $orange1
  &:hover
    color: $orange2
    text-decoration: underline
img
  display: inline-block
  width: auto
  max-width: 100%

.content
  min-height: 200px
  box-sizing: border-box
  h1, h2, p, li, img
    margin: 0 0 10px 0
  ul, ol
    padding: 0 20px
    box-sizing: border-box
  ul
    list-style: disc
  ol
    list-style: georgian

.window-centered
  float: none
  max-width: 1400px
  width: 100%
  margin: 0 auto
  padding: 0 10px
  box-sizing: border-box

.padding
  padding: 10px
  padding-top: 125px
  @media only screen and (min-width: 790px)
    padding-top: 140px

.margin
  margin-top: 115px
  @media only screen and (min-width: 790px)
    margin-top: 135px

.avatar
  display: inline-block
  position: relative
  border-radius: 50%
  width: 150px
  height: 150px
  overflow: hidden
  img
    position: absolute
    top: 50%
    left: 50%
    width: 100%
    transform: translate(-50%, -50%)
