.footer
  background: #f07822
  display: flex
  padding: 20px 10px
  width: 100%
  box-sizing: border-box
  justify-content: space-around
  align-items: flex-start
  flex-flow: column
  @media only screen and (min-width: 790px)
    flex-flow: row
    padding: 60px
    align-items: center
  figure, span
    flex: 1 1 auto
  img
    width: 200px
    margin: 0 0 20px 0
    @media only screen and (min-width: 790px)
      margin: 0
  span
    font-size: 14px
    text-align: right
